.skills {
    .skilltitle{
        height: 10%;
    }

    .card {
        perspective: 150rem;
        transform-style: preserve-3d;
        position: relative;
        width: 100%;
        cursor: pointer;
        &:hover .card-side.front {
            transform: rotateY(180deg);
        }

        &:hover .card-side.back {
            transform: rotateY(0deg);
        }

        .card-side {
            border-radius: 15px;
            transition: all 0.8s ease;
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            color: white;
            box-shadow: rgba(55, 92, 144, 0.56) 0px 22px 70px 4px;

            .icons {
                height: 100%;
                .name {
                    padding: 0.8rem;
                    font-size: 1rem;
                    letter-spacing: 0.2rem;
                }
            }

        }



        .card-side.front {
            background-color: white;
            color: black;
        }

        .card-side.back {
            transform: rotateY(-180deg);
            background-color: black;
        }
    }
}