.section-footer {
    background-color: rgb(0 10 45);
    margin-top: 5rem;

    .container1 {
        font-family: 'Roboto' !important;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;

        padding: 2rem;

        .f-about {
            h3 {
                color: white;
                font-size: 1.4rem;
                padding: 0.5rem;
            }

            p {
                color: rgb(194, 194, 194);
                font-size: 0.8rem;
                padding: 0.5rem;
            }


        }

        .f-links {
            h3 {
                color: white;
                font-size: 1.4rem;
                padding: 0.5rem;
            }

            ul {
                color: rgb(194, 194, 194);
                font-size: 0.9rem;

                li {
                    padding: 0.2rem;

                    &:hover {
                        color: white;
                        text-decoration: underline;
                    }
                }
            }
        }

        .f-address {
            h3 {
                color: white;
                font-size: 1.4rem;
                padding: 0.5rem;
            }

            address {
                div {
                    p {
                        display: flex;
                        align-items: center;
                        gap: 0.3rem;
                        color: rgb(194, 194, 194);
                        font-size: 0.8rem;
                        padding: 0.5rem;

                        a {
                            transition: all 0.5s linear;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                    }
                }

            }
        }
    }

    .container2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 4rem;

        .f-social-icons {
            display: flex;
            gap: 2rem;
            margin: 5rem 0;
            text-align: center;
            color: #adadad;

            svg {
                width: 2.5rem;
                height: 2.5rem;
                display: inline-block;
                padding: 0.2rem;
                background-color: rgba(144, 172, 209, 0.2);
                color: white !important;
                animation: water-wave 3s linear infinite;
            }

        }
    }
}

@keyframes water-wave {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 35% 65% 70%;
    }

    50% {
        border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
    }

    100% {
        border-radius: 30% 70% 70% 30% / 30% 35% 65% 70%;
    }
}